html{
	font-size: 16px;
}
body{
	margin: 0px;
	font-family: Century Gothic;
}
@font-face{
	font-family: Century Gothic;
	src: url(CenturyGothic.ttf);
}
ul {
  list-style-type: none;
  padding:0;
}
a{
	text-decoration: none;
	transition-property: color;
	transition-duration: 0.50s;
	transition-timing-function: ease-in-out;
}
/*Main Nav*/
nav{
	position: fixed;
	background-color: #000;
	top: 0px;
	width: 100%;
	min-height: 4%;
	max-height: 10%;
	text-align: center;
	padding-top: 2%;
	padding-bottom: 1%;
	z-index: 2;
	box-shadow: 0px 0px 20px 0px #000;
}
nav a:hover{
	color: #8DC63F;
}
.navLinks{
	font-family: Century Gothic;
	text-decoration: none;
	font-size: 1.15rem;
	color: #FFF;
	padding-left: 1rem;
	padding-right: 1rem;
	z-index: 3;
	margin-right: auto;
	margin-left: auto;
	display: inline-block;
}
/*Nav Logo Styles*/
.mainLogo{
	max-width: 120%;
	max-height: 100%;
	position: absolute;
	left: 0%;
	top: 0%;
	padding-bottom: 2%;
}
.facebook{
	float: right;
	margin-left: 1%;
	margin-bottom: 2%;
	margin-right: 1%;
	top: 15%;
	right: 10%;
	position: absolute;
	max-width: 70%;
	max-height: 70%;
}
.instagram{
	float: right;
	margin-left: 1%;
	margin-bottom: 2%;
	margin-right: 1%;
	top: 15%;
	right: 5%;
	position: absolute;
	max-width: 70%;
	max-height: 70%;
}
.twitter{
	float: right;
	margin-right: 1%;
	margin-left: 1%;
	margin-bottom: 2%;
	top: 15%;
	right: 0%;
	position: absolute;
	max-width: 70%;
	max-height: 70%;
}
/*Side Nav*/
aside{
	background-color: #3D403A;
	width: 15%;
	position: fixed;
	padding-top: 7%;
	padding-left: 1%;
	padding-right: 3%;
	left: 0px;
	top: 0px;
	height: 100%;
	text-decoration: none;
	box-shadow: 0px 0px 20px 0px #000;
}
.asideHeader a{
	color: #FFF;
	font-size: 1.50rem;
	text-align: left;
}
aside a{
	color: #8DC63F;
	text-decoration: none;
	font-size: 1.25rem;
	font-weight: bold;
}
aside li{
	padding: 5%;
	border-bottom: 2px solid #20211E;
}
aside a:hover{
	color: #FFF;
}
/*Button Style*/
.button{
	background-color: #8DC63F;
	font-family: Century Gothic;
	font-size: 1rem;
	color: #FFF;
	border: none;
	border-radius: 4px;
	padding: 2%;
}
.button:hover{
	background-color: #80BD2D;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
/*Main Content*/
section{
	margin-top: 7%;
	margin-left: 25%;
	margin-right: 20%;
	margin-bottom: 10%;
	text-align: left;
	z-index: 1;
	font-size: 1.25rem;
}
/*Footer*/
footer{
	position: fixed;
	width: 100%;
	height: 4%;
	padding: 1%;
	bottom: 0px;
	left: 0px;
	background-color:#8DC63F;
	color: #000;
	text-align: center;
	z-index: 1;
	box-shadow: 0px 0px 15px 0px #000;
}
footer img{
	max-width: 70%;
	max-height: 70%;
	position: absolute;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 1%;
	bottom: 0px;
}
/*Game*/
.game{
	height: 50%;
	width: 80%;
}
/*Contact Section*/
.contact-form {
  padding: 10px;
}

.contact-form ul {
  max-width: 700px;
  margin: 0 auto;
}

.contact-form ul li {
  display: block;
  margin-left: -40px;
}

.contact-form ul li label {
  font-size: 120%;
  display: inline-block;
  height: 30px;
  width: 100%;
  max-width: 500px;
  font-size: 120%;
  text-align: left;
}

.contact-form ul li input {
  font-size: 120%;
  height: 30px;
  width: 100%;
  max-width: 500px;
  margin-bottom: 15px;
}
.contact-form ul li textarea {
  font-size: 120%;
  height:100px;
  width: 100%;
  max-width: 500px;
  margin-bottom: 15px;
}

.submit {
  width: 50%;
  height: 40px;
  font-size: 110%;
  border: 0;
  color: white;
}
.submit:hover {
  background-color: #9DD64F;
}
.submit-disabled {
  background-color: rgba(141, 198, 63, 0.5); /* #8DC63F */
  pointer-events: none;
  cursor: default;
}
.submit-enabled {
  background-color: rgba(141, 198, 63, 1);
  pointer-events: auto;
  cursor: pointer;
}
#upload-bar-container {
  margin: 0 auto;
  width: 600px;
  position: relative;
  height: 20px;
}
#upload-bar {
  margin-left: 25%;
  width: 0px;
  position: absolute;
  left: 0;
  height: 20px;
  background-color: #9DD64F;
}
.upload-container {
  margin: 0 auto;
  max-width: 600px;
}
.home-sections h4 {
  display: inline-block;
  width: 200px;
  text-align: center;
}
.home-sections span {
  display: inline-block;
  width: 200px;
  height: 200px;
  /*background-size: cover;*/
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all .5s ease;
  position: relative;
}
.home-sections span:hover {
  background-size: 120% 120%;
}
.home-sections span:after {
    position: absolute;
    background-color: rgba(0,0,0,.35);
    font-family: sans-serif;
    padding-top: 250px;
    font-size: 2em;
    color: #fff;
    top:  0;
    left: 0;
    width: 200px;
    height: 200px;
    opacity: 0;
    transition: opacity .5s linear;
    box-sizing: border-box;
}
.home-sections span:hover:after {
  opacity: 1;
}
.astronomy-section {
  background-image: url("photos/astronomy_home.jpg")
}
.physics-section {
  background-image: url("photos/physics_home.gif")
}
.chemistry-section {
  background-image: url("photos/chemistry_home.jpg")
}
